# Description: Ruleset for Entity Framework model configuration classes

# Code files
[*.cs]

# [DESIGN] Validate arguments of public methods *** Suppress as parameters supplied by EF ***
dotnet_diagnostic.CA1062.severity = none

# [PERFORMANCE] Avoid uninstantiated internal classes *** Suppress as classes instantiated via reflection ***
dotnet_diagnostic.CA1812.severity = none