<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="AudaciaPublic" value="https://pkgs.dev.azure.com/audacia/Audacia.Public/_packaging/AudaciaPublic/nuget/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="nuget">
            <package pattern="*" />
            <package pattern="Audacia.Random" />
        </packageSource>
        <packageSource key="AudaciaPublic">
            <package pattern="Audacia.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>